body {
    display: block;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.float{
 position:absolute;
    top:0px;
    left:0px;
}
h1{
  font-family: "industry";
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: #F2F2F2;
  margin-top: 40px;
  line-height: 20px;
}
h4{
  font-family: "industry";
  font-style: italic;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  color: #F2F2F2;
  margin-bottom: 40px;
  line-height: 0px;
p{
  font-family: franklin-gothic-urw;
  font-weight: Demi;
  text-align: center;
}

#xAxis {
  font-family: franklin-gothic-urw;
  font-weight: Demi;
  text-align: center;
  font-size: 20px;
}
#space {
  background: rgba(76, 175, 80, 0);
}

#customSelect{
  margin-left: 100px !important;
}
select#planetSelect{
    margin-left: 100px !important;
}
select#dataPointSelect{
    margin-left: 100px !important;
}

#tooltip {
  display: none;
  font-family: franklin-gothic-urw;
  font-weight: Demi;
  text-align: center;
  text-decoration-color: white;
  font-size: 14 px;
  padding: 10px;
}
