body {
    display: block;
    margin: 0px;
}
.float{
 position:absolute;
    top:0px;
    left:0px;
}
p{
  font-family: Franklin Gothic URW;
  text-align: center;
}
h1{
  font-family: Franklin Gothic URW;
  text-align: center;
}
.navlinks{
  text-align: center;
}
#tooltip {
  background-color: white;
  border: 1px solid black;
  display: none;
  font-family: sans-serif;
  font-size: 16px;
  padding: 10px;
  position: absolute;
}
#xAxis {
  font-family: "Comic Sans MS";
  font-size: 20px;
}
.tick line {
  stroke: red;
}
